.spikes
footer#contact
    .container
        .row-top
            .logo.wow.animate__animated.animate__jackInTheBox
                h3 #{themeName}
                h3 Explore Real Estate
            form.wow.animate__animated.animate__jackInTheBox
                input(type="email" name="email" placeholder="Subscribe To Our Newsletter" required)
                button(type="submit" title="Submit Email")
                    i.fa-solid.fa-arrow-right-long
        .row-bottom
            .copys.wow.animate__animated.animate__rotateInDownLeft
                h4 #{themeName}
                h6
                    | &copy; 
                    span#footerYear
                    |  - #{themeName}
                h6 All Rights Reserved &reg; 
                h6 #{mainLocation}
                h6
                    | Made By 
                    a(href="https://github.com/PhilopaterHany" target="_blank" class="signature") #{author}
            .links.wow.animate__animated.animate__rotateInUpRight
                h6 #{themeName}
                ul
                    +footer-links("Agents", "#agents")
                    +footer-links("Hunters", "#")
            .links.wow.animate__animated.animate__rotateInUpRight
                h6 company
                ul
                    +footer-links("About", "#about")
                    +footer-links("FAQ", "#")
                    +footer-links("Contact", "#contact")
                    +footer-links("Social", "#")
            .links.wow.animate__animated.animate__rotateInUpRight
                h6 product
                ul
                    +footer-links("Apartments", "#apartments")
                    +footer-links("How It Works", "#works")
            .links.wow.animate__animated.animate__rotateInUpRight
                h6 services
                ul
                    +footer-links("Renting", "#renting")
                    +footer-links("Selling", "#selling")
                    +footer-links("Building", "#building")
